 	.navbar {
	background-color: #1a5678;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
		
	.navbar a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	font-size: 27px;
	}
	
	.bottom-bar {
	background-color: #1a5678;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	margin-top: 20px;
	}

	.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}

	.content {
	flex: 1;
	background-color: #B3D4CA;
	}

	.nav-right {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
	}
	
	.cart-button {
	color: white;
	border: none;
	padding: 8px 14px;
 	border-radius: 5px;
 	font-weight: bold;
 	cursor: pointer;
	font-size: 22px;
 	box-shadow: 0 2px 6px;
	}

	#search {
	padding: 5px;
	font-size: 16px;
 	border-radius: 5px;
 	border: 1px solid #ccc;
	}

	.products {
	display: flex;
	justify-content: center;
	gap: 30px;
	margin-top: 30px;
	}

	.product-card {
	width: 250px;
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 8px 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	min-height:350px;
	}

	.product-card img {
	width: 100%;
	height: auto;
	object-fit: cover;
	border-radius: 8px;
	margin-bottom: 10px;
	}

	.product-name {
	font-size: 18px;
	margin-bottom: auto;
	}

	.price {
	font-weight: bold;
	color: #00796B;
	}

	.add-to-cart {
	background-color: #fff;
	border: 2px solid #00796B;
	color: #00796B;
	padding: 8px 16px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 4px 8px;
	transition: all 0.3s ease;
	}

	.add-to-cart:hover {
	background-color: #00796B;
	color: white;
	}

	.card-footer {
	margin-top: auto;
	}

	.Pics a {
	cursor: pointer;
	}

	.product-container {
	display: flex;
	gap: 40px;
	max-width: 900px;
	margin: 50px auto;
	background-color: white;
	padding: 30px;
	border-radius: 10px;
	box-shadow: 0 8px 20px;
	}

	.carousel {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	width:300px;
	height:300px;
	}

	.carousel img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 10px;
	}

	.carousel-controls {
	margin-top: 10px;
	}

	.carousel-controls button {
	padding: 6px 12px;
	margin: 0 10px;
	font-size: 18px;
	cursor: pointer;
	}

	.details {
	flex: 2;
	display: flex;
	flex-direction: column;
	}

	.details h2 {
	margin: 0;
	}

	.price {
	color: #00796B;
	font-weight: bold;
	font-size: 20px;
	margin: 8px 0 12px;
	}

	.description {
	font-size: 16px;
	margin-bottom: 20px;
	}

	.quantity-section {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	}

	.quantity-section button {
	padding: 6px 12px;
	font-size: 18px;
	cursor: pointer;
	}

	.quantity-section span {
	font-size: 18px;
	width: 30px;
	text-align: center;
	display: inline-block;
	}

	.add-to-cart2 {
	padding: 10px 20px;
	background-color: #00796B;
	color: white;
	border: none;
	border-radius: 6px;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s;
	}

	.add-to-cart2:hover {
	background-color: #005f56;
	}

	.out-of-stock {
	height: 60vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 48px;
	font-weight: bold;
	color: #b00020;
	text-align: center;
	} 

        .caption {
	color: #004172;
	}

        .oph {
	font-size: 20px;
	color:#FFFFFF;
	}




table .ophe {
  border-collapse: separate;
  border-spacing: 0;
  box-shadow: 0px 8px 12px #000000;
}


td {
  padding: 10px;
}

tr:first-child td:first-child {
  border-top-left-radius: 12px;
}

tr:first-child td:last-child {
  border-top-right-radius: 12px;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 12px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 12px;
}

.purchase{background-color: #fff;
	border: 2px solid #00796B;
	color: #00796B;
	padding: 8px 16px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 4px 8px;
	transition: all 0.3s ease;
	}
.submit{background-color: #fff;
	border: 2px solid #00796B;
	color: #00796B;
	padding: 8px 16px;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
	box-shadow: 0 4px 8px;
	transition: all 0.3s ease;
       }
