	.navbar {
	background-color: #1a5678;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	}
		
	.navbar a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-right: 20px;
	font-size: 27px;
	}
	
	.bottom-bar {
	background-color: #1a5678;
	color: white;
	text-align: center;
	padding: 15px;
	font-size: 20px;
	margin-top: 20px;
	}

	.page-container {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	}

	.content {
	flex: 1;
	}

	.nav-right {
	margin-left: auto;
	display: flex;
	align-items: center;
	gap: 10px;
	}
	
	.cart-button {
	color: #1a5678;
	border: none;
	padding: 8px 14px;
 	border-radius: 5px;
 	font-weight: bold;
 	cursor: pointer;
	font-size: 16px;
 	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease;
	}

	#search {
	padding: 5px;
	font-size: 16px;
 	border-radius: 5px;
 	border: 1px solid #ccc;
	}
